<tr>
    <td colspan="3" style="padding: 0">
        
        <table style="border-top: 2px solid #093B5A; width: 100%; margin-top: 25px;">
            <tr>
                <td style="padding: 7px 0;">
                    <img alt="PTU logo; a red rectangle with the bottom half cut out in the shape of a roof with a chimney on the left side, above the letters P T U." style="height: 66px; margin-right: 4px" src="https://static.peterboroughtenants.app/Logo_Colour%402x.png">
                </td>
                <td style="font-size: 8pt; padding: 7px 0">
                    <p>Peterborough Tenants Union Ltd.</p>
                    Company limited by guarantee: 13171833, registered in England & Wales.
                    82A James Carter Road, Mildenhall, Suffolk, IP28 7DE.
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center; padding: 10px; font-size: 8pt">
                    <p>
                        You are recieving this email because you are a member of the Peterborough Tenants Union, and 
                        either you have consented to this type of email, or we believe there is a legitimate interest
                        in sending it to you.
                    </p>
                    <p>
                        You can update your email preferences 
                    <a href="https://account.peterboroughtenants.app">on our membership portal</a>.
                    </p>
                </td>
            </tr>
        </table>

    </td>
</tr>
</table>
</body>
</html>
