<tr>
    <td colspan="2" style="background-color: #D6D1C4; text-align: center">
        <h2>
            Welcome!
        </h2>
        <p>
            Your membership has been processed and you are now a member of the Union.
        </p>
        <p>
            Your membership number is
        </p>
        <p style="font-weight: 600; font-size: 14pt">
            {{membership_no}}
        </p>

        <p>
            Remember, if you need any help with your tenancy please get in touch.
            Let us know if your address changes.
        </p>
    </td>
</tr>